.button {
  background: #245462;
  border: none;
  width: 100%;
  font-family: inherit;
  color: #ffffff;
  font-size: 13px;
  line-height: 15px;
  padding: 13px 12px 12px 12px;
  transition: all 0.3s;
}

.button:hover {
  background: #518b9c;
}

.button:active {
  background: #224550;
}
