.container__title {
  margin-bottom: 35px;

  font-size: 16px;
  line-height: 19px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  max-width: 263px;
  height: min-content;
  padding: 20px;
  margin-bottom: 53px;
  transition: transform 0.3s;
}

.product--active {
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
}

.product:hover {
  transform: scale(1.05);
}

.product__offer {
  display: flex;
  align-items: flex-start;
}

.product__discount {
  width: min-content;
  margin-left: -2px;
}

.product__discount-value {
  margin-top: 2px;
  margin-left: 7px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.product__like {
  display: block;
  margin-left: auto;
  width: min-content;
  background: none;
  border: none;
  padding: 5px;
  margin-right: -10px;
  margin-top: -5px;
  margin-bottom: -5px;
  transition: color 0.3s;
}

.product__like:focus {
  outline: none;
}

.product__like:hover {
  color: rgba(255, 0, 0, 0.7);
  cursor: pointer;
}

.product__image {
  margin: 38px 12px 54px;
  width: calc(100% - 24px);
}

.product__additional-information--hidden {
  display: none;
}

.product__name {
  margin-bottom: 6px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.product__description {
  margin-bottom: 9px;

  font-size: 11px;
  line-height: 13px;
}

.product__price {
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.product__price--discount {
  margin-left: 6px;

  text-decoration: line-through;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #cccccc;
}

.sizes__title {
  margin-bottom: 8px;

  font-size: 12px;
  line-height: 14px;
}

.sizes__row {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.sizes__dimension {
  text-transform: uppercase;
  margin-right: 15px;
}

.sizes__dimension-name {
  margin-bottom: 8px;

  font-size: 9px;
  line-height: 11px;
  color: #c4c4c4;
}

.sizes__dimension-value {
  font-size: 9px;
  line-height: 11px;
}

.fa-solid {
  margin-right: 15px;
  font-size: 12px;
  line-height: 14px;
}
