* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 19px;
  font-size: 16px;
  color: #414141;
}

svg {
  display: block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
